<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{folder.title}}
        {% if folder != album.target_root %}
            – {{album.config.title}}
        {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ (album.target_static / 'style.css') | relative_to(folder.path) }}" />
    <script type="text/javascript" src="{{ (album.target_static / 'script.js') | relative_to(folder.path) }}"></script>
</head>
<body class="font-sans">
    <header id="top" class="pad-h">
        <nav>
            <a href="/">album.boldi.net</a>
            {% for parent in folder.parents[:-1] %}
            &rsaquo; <a href="{{ parent.path | relative_to(folder.path) }}/index.html">{{parent.title}}</a>
            {% endfor %}
        </nav>
        <h1>
            {% set parent = folder.parents[-1] %}
            {% if parent %}
                <a href="{{ parent.path | relative_to(folder.path) }}/index.html">{{parent.title}}</a>
                &rsaquo;
            {% endif %}
            <a href="./index.html">{{folder.title}}</a>
        </h1>
    </header>

    <main id="main">
        {% if folder.subfolders | length %}
        <section id="subfolders" class="flex-masonry">
        {% set TARGET_SIZE = 150 %}
        {% for subfolder in folder.subfolders.values() %}
            %% set image = subfolder.cover_image
            %% set width = image.width
            %% set height = image.height
            %% set aspect = "%d / %d" % (width, height)
            %% set flex_grow = (width / height) | round(2)
            <div class="flex-masonry-outer" style="aspect-ratio: {{aspect}}; flex-grow: {{flex_grow}};">
                <figure class="flex-masonry-inner" style="aspect-ratio: {{aspect}};">
                    <a id="{{ image.path.stem }}_folder_thumbnail" class="thumbnail-container" href="{{subfolder.path | relative_to(folder.path)}}/index.html">
                        <img
                            class="thumbnail"
                            style="aspect-ratio: {{aspect}};"
                            alt="{{ subfolder.title }}"
                            src="{{ image.path_800w | relative_to(folder.path) }}"
                        />
                    </a>
                    <figcaption><a href="{{subfolder.path | relative_to(folder.path)}}/index.html">{{subfolder.title}}</a></figcaption>
                </figure>
            </div>
        {% endfor %}
        <div style="height: 0; flex: 9000 1 auto;"></div>
        </section>
        {% endif %}

        {% if folder.images | length %}
        <section id="thumbnails" class="flex-masonry">
        {% for name, image in folder.images.items() %}
            %% set width = image.width
            %% set height = image.height
            %% set aspect = "%d / %d" % (width, height)
            %% set flex_grow = (width / height) | round(2)
            <div class="flex-masonry-outer" style="aspect-ratio: {{aspect}}; flex-grow: {{flex_grow}};">
                <div class="flex-masonry-inner" style="aspect-ratio: {{aspect}};">
                    <a id="{{ image.path.stem }}_thumbnail" class="thumbnail-container" href="#{{ image.path.stem }}">
                        <img
                            class="thumbnail"
                            style="aspect-ratio: {{aspect}};"
                            alt="{{ image.title }}"
                            src="{{ image.path_800w | relative_to(folder.path) }}"
                        />
                    </a>
                </div>
            </div>
        {% endfor %}
        <div style="height: 0; flex: 9000 1 auto;"></div>
        </section>
        {% endif %}


        {% if folder.images | length %}
        <aside id="usage">
            <p style="max-width: 100%; text-align: center;">
                <a href="#top"><kbd>E</kbd> <span>Top</span></a>
                |
                <a href="#thumbnails"><kbd>G</kbd> <span>Thumbnails</span></a>
                |
                <a href="#images"><kbd>P</kbd> <span>Pictures</span></a>
                |
                <a href="javascript:toggleFullScreen()"><kbd>F</kbd> <span>Full Screen</span></a>
                |
                <a href="javascript:scrollToNextScrollTarget(-1, null);"><kbd>←</kbd> <span>Previous</span></a>
                |
                <a href="javascript:scrollToNextScrollTarget(+1, null);"><kbd>→</kbd> <span>Next</span></a>
            </p>
        </aside>
        {% endif %}
        
        {% if folder.images | length %}
        <section id="images">
        {% for name, image in folder.images.items() %}
            <article class="image" id="{{ image.path.stem }}">
                <div class="image-container">
                    <picture style="display: flex;" onclick="scrollToNextScrollTarget(+1, document.querySelector('#{{ image.path.stem }}'));">
                        <img
                            style="width: 100%; align-self: center;"
                            srcset="{{ image.path_800w | relative_to(folder.path) }} 800w, {{ image.path_1500w | relative_to(folder.path) }} 1500w, {{ image.path_3000w | relative_to(folder.path) }} 3000w, {{image.path | relative_to(folder.path)}}"
                            src="{{image.path | relative_to(folder.path)}}"
                            alt="{{image.title}}" />
                    </picture>
                </div>
                <div class="description">
                <h2><a href="#{{ image.path.stem }}">{{image.title}}
                    {% if image.title != image.source.path.stem %}
                    <small>[{{image.path.stem}}]</small>
                    {% endif %}
                </a></h2>
                <p class="image-description">
                    {{image.description or undefined}}
                </p>
                <p class="gray-text">
                    {{ image.created_datetime }}
                </p>
                <p class="gray-text">
                    {{image.shutter_speed | human_round or "?"}}s,
                    𝑓/{{image.aperture | human_round or "?"}},
                    ISO {{image.iso | human_round or "?"}}
                    (<abbr title="Light Value, the amount of light in the scene">LV</abbr> {{image.light_value | human_round or "?"
                    }}{% if image.exposure_compensation %},
                        {{ "+" if (image.exposure_compensation or 0) > 0 else "" }}{{
                            image.exposure_compensation | human_round or "0"}}
                        <abbr title="Exposure compensation">EV</abbr>{% endif %})
                </p>
                <p class="gray-text">
                    {{image.camera}} {{ "+" if image.camera and image.lens else "" }}
                    {{image.lens}} 
                    at 𝑓 = {{image.focal_length | human_round or "?"}}mm
                    <small>({{image.focal_length_35mm | human_round or "?"}}mm at 35mm <abbr title="Equivalent Field of View">equiv. FOV</abbr>)</small>.
                </p>
                <p class="gray-text">
                    <a href="#{{ image.path.stem }}_thumbnail"><kbd>E</kbd> ⇧ {{ folder.title }}</a>
                    |
                    <a href="javascript:toggleFullScreen()"><kbd>F</kbd> Full screen</a>
                    {% if loop.previtem %}
                    |
                    <a href="#{{ loop.previtem[1].path.stem }}"><kbd>←</kbd> <span>Previous</span></a>
                    {% endif %}
                    |
                    <a href="#{{ image.path.stem }}"><kbd>.</kbd> Current</a>
                    {% if loop.nextitem %}
                    |
                    <a href="#{{ loop.nextitem[1].path.stem }}"><kbd>→</kbd> <span>Next</span></a>
                    {% endif %}
                </p>
                </div>
            </article>
        {% endfor %}
        </section>
        {% endif %}
    </main>
  
    <footer id="bottom" style="
        display: grid;
        height: 100vh;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-columns: 4fr 3fr 5fr;
        gap: 0.5em;
    ">
        {% set related_folders = [(folder.prev_folder, "2 / 1 / 3 / 2"), (folder.next_folder, "2 / 3 / 4 / 4"), (folder.parent, "1 / 2 / 2 / 3")] %}
        {% for related_folder, grid_area in related_folders %}
        {% if related_folder  %}
        %% set image = related_folder.cover_image
        %% set width = image.width
        %% set height = image.height
        %% set aspect = "%d / %d" % (width, height)
        <div style="
                grid-area: {{ grid_area }};
                contain: strict;
                text-align: center;
                width: 100%;
                height: 100%;
                align-self: center;
                justify-self: center;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
            "
        >
            <a style="display: block; aspect-ratio: {{ aspect }}; max-height: 100%; max-width: 100%;" href="{{ related_folder.path | relative_to(folder.path) }}/index.html">
                <figure style="position: relative;">
                    <img
                        srcset="{{ related_folder.cover_image.path_800w | relative_to(folder.path) }} 800w, {{ related_folder.cover_image.path_1500w | relative_to(folder.path) }} 1500w, {{ related_folder.cover_image.path_3000w | relative_to(folder.path) }} 3000w, {{related_folder.cover_image.path | relative_to(folder.path)}}"
                        src="{{ related_folder.cover_image.path | relative_to(folder.path)}}"
                        alt="{{ related_folder.title }}" />
                    <figcaption>{{ related_folder.title }}</figcaption>
                </figure>
            </a>
        </div>
        {% endif %}
        {% endfor %}
        <div style="grid-area: 2 / 2 / 3 / 3; text-align: center;">
            <a style="display: block; aspect-ratio: {{ aspect }}; max-height: 100%; max-width: 100%;" href="#top">
                <figure style="position: relative;">
                    <img
                        srcset="{{ folder.cover_image.path_800w | relative_to(folder.path) }} 800w, {{ folder.cover_image.path_1500w | relative_to(folder.path) }} 1500w, {{ folder.cover_image.path_3000w | relative_to(folder.path) }} 3000w, {{folder.cover_image.path | relative_to(folder.path)}}"
                        src="{{ folder.cover_image.path | relative_to(folder.path)}}"
                        alt="{{ folder.title }}" />
                    <figcaption>{{ folder.title }}</figcaption>
                </figure>
            </a>
        </div>
        <div class="pad-h" style="grid-area: 3 / 1 / 3 / 4; align-self: end;">
            <nav>
                <a href="/">album.boldi.net</a>
                {% for parent in folder.parents[:-1] %}
                &rsaquo; <a href="{{ parent.path | relative_to(folder.path) }}/index.html">{{parent.title}}</a>
                {% endfor %}
            </nav>
            <h1>
                {% set parent = folder.parents[-1] %}
                {% if parent %}
                    <a href="{{ parent.path | relative_to(folder.path) }}/index.html">{{parent.title}}</a>
                    &rsaquo;
                {% endif %}
                <a href="./index.html">{{folder.title}}</a>
            </h1>
            <p id="copyright">Copyright &copy; {{album.config.copyright}}</p>
        </div>
    </footer>
</body>
</html>
